#body
{
	height: 80%;
	/*IMPORTANTE*/
	display: flex;
	justify-content: center;
	align-items: center;
}
#texto
{
	opacity: 0.5;
}

.formulario	
{
	background-color: #e9ecefba;
	padding: 30px;
	height: 100%;
	width: 450px;
	margin-left: 30%;
	margin-top: 50px;
	border-radius: 3px;
}